* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

fieldset {
    padding: 1rem;
}

body {
    background: #010b36;
    font-family: 'Verdana', sans-serif;
}



/* Header */
header {
    background-color: #010413;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* Main */

.container {
    width: min(90vw, 1000px);
    margin: auto;
    display: flex;
    flex-direction: column;

}

/* Section */

.atendimento {
    margin-top: -8rem;
    background: white;
    padding: 2rem;
}

/* div exames */

.esquerdo {
    width: 50%;
    position: relative;
    float: left;
    box-sizing: border-box;
}

.direito {
    width: 50%;
    position: relative;
    float: right;
    box-sizing: border-box;
}

.input-exames {
    box-shadow: none;
    border: none;
    border-bottom: #010b36 solid 5px;
    transition: all .5s;
    width: 60%;
    box-sizing: border-box;
    margin-top: 15px;
}

.exame-group {

}

.data {
    border: none;
    width: 150px;
    box-sizing: border-box;
    margin-bottom: 10px;



    /*
    width: 100%;
    margin-left: 200px;
    position: absolute;
    */
}

.input-exames:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.input-exames:focus + .select-label,
.input-exames:not(:placeholder-shown) + .select-label {
    transform:translateY(-2.5em) scale(.8);
}

.input-exames::placeholder {
    color: transparent;
} 

/* Select */
/*
.select-group {
    appearance: none;
    border: none;
    border-bottom: 5px solid #010b36;
    margin-top: 24px;
    width: 100%;
    transition:all .3s ;
}*/

.select-label {
    bottom: 5px;
    left: 0;
    color: #010b36;
    display: block;
    transform: translateY(-24px);
    transform-origin: 0 0;
    transition: all .5s;
    box-sizing: border-box;
}


/*
select:focus ~ label, select:valid ~ label {
    transform: translateY(-24px);
}
*/
/* Input */

.input {
    box-shadow: none;
    border: none;
    border-bottom: #010b36 solid 5px;
    transition: all .5s;
    width: 40%;
}

.input:focus {
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.input:focus + .select-label,
.input:not(:placeholder-shown) + .select-label {
    transform:translateY(-2.5em) scale(.8);
}

.input::placeholder {
    color: transparent;
} 

.form-group:focus-within {
    transform:scale(1.01, 1.01) ;
}

.salvar {
    width: 50%;
    height: 3rem;
    background-color: teal;
    color: whitesmoke;
}

.limpar {
    width: 50%;
    height: 2rem;
    background-color: yellowgreen;
}

#campoBlock  {
    display: inline-block;
}
